In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import joblib
# import reverse-geocode

In [2]:
master_df = pd.read_csv("green_tripdata_2016_02.csv")

In [3]:
master_df.head()

,vendorid,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,ratecodeid,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,pickup_location,dropoff_location
0,2,2016-02-01T00:00:01,2016-02-01T00:10:06,False,1,-73.939018,40.805214,-73.972534,40.785885,1,...,0.5,0.00,0.0,NaN,0.3,11.80,2,1.0,POINT(-73.939018249511719 40.805213928222656),POINT(-73.9725341796875 40.785884857177734)
1,2,2016-02-01T00:01:33,2016-02-01T00:20:13,False,1,-73.891495,40.746651,-73.890877,40.743896,1,...,0.5,0.00,0.0,NaN,0.3,14.30,2,1.0,POINT(-73.891494750976563 40.746650695800781),POINT(-73.890876770019531 40.743896484375)
2,2,2016-02-01T00:03:46,2016-02-01T00:21:04,False,1,-73.983780,40.676132,-73.956978,40.718327,1,...,0.5,3.76,0.0,NaN,0.3,22.56,1,1.0,POINT(-73.983779907226562 40.676132202148438),POINT(-73.956977844238281 40.718326568603516)
3,2,2016-02-01T00:00:05,2016-02-01T00:06:48,False,1,-73.807518,40.700375,-73.831657,40.705978,1,...,0.5,0.00,0.0,NaN,0.3,9.30,2,1.0,POINT(-73.807518005371094 40.700374603271484),POINT(-73.831657409667969 40.705978393554687)
4,2,2016-02-01T00:06:20,2016-02-01T00:08:47,False,1,-73.903961,40.744934,-73.900009,40.733601,5,...,0.5,0.00,0.0,NaN,0.3,6.30,2,1.0,POINT(-73.903961181640625 40.74493408203125),POINT(-73.900009155273438 40.733600616455078)

In [4]:
master_df = master_df[["lpep_pickup_datetime","lpep_dropoff_datetime", "pickup_longitude", "pickup_latitude", "dropoff_longitude",
                      "dropoff_latitude"]]

In [5]:
master_df.head()

,lpep_pickup_datetime,lpep_dropoff_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,2016-02-01T00:00:01,2016-02-01T00:10:06,-73.939018,40.805214,-73.972534,40.785885
1,2016-02-01T00:01:33,2016-02-01T00:20:13,-73.891495,40.746651,-73.890877,40.743896
2,2016-02-01T00:03:46,2016-02-01T00:21:04,-73.983780,40.676132,-73.956978,40.718327
3,2016-02-01T00:00:05,2016-02-01T00:06:48,-73.807518,40.700375,-73.831657,40.705978
4,2016-02-01T00:06:20,2016-02-01T00:08:47,-73.903961,40.744934,-73.900009,40.733601

In [6]:
master_df["dropoff_corr"] = master_df["dropoff_latitude"].astype("str") + "," + master_df["dropoff_longitude"].astype("str")

In [8]:
#frequent drop locations
freq_targets = master_df.dropoff_corr.value_counts().head(1700).index.to_list()[1:]

In [9]:
filtered_df = master_df[master_df["dropoff_corr"].isin(freq_targets)]

In [10]:
filtered_df.drop(["lpep_dropoff_datetime", "dropoff_corr"], axis=1, inplace=True)

/home/artig/miniconda3/envs/mlflow/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [11]:
filtered_df.columns

Index(['lpep_pickup_datetime', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude'],
      dtype='object')

In [12]:
filtered_df = filtered_df[['lpep_pickup_datetime', 'pickup_latitude', 'pickup_longitude'
       , 'dropoff_latitude', 'dropoff_longitude']]

In [13]:
filtered_df.columns = ['eventTimeStart', 'latStart','lonStart', 'latEnd', 'lonEnd']

In [14]:
filtered_df.to_csv("my_processed_df.csv", index=False)